html{
    font-family: sans-serif;
    line-height: 3em;
    font-size: 15px;
}

body{
    display: flex;
    justify-content: center;
}

form{
    padding: 20px;
    background-color: lightgrey;
}

h2{
    text-align: center;
}

.grid-container{
    border-radius: 15px;
    padding: 100px;
    background-color: lightgray;
    display: grid;
    row-gap: 30px;
    text-align: center;
}


a{
    border-radius: 10px;
    margin: 100px;
    padding: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}